<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout">
<body layout:fragment="content">
    <h1 class="text-center mt-4">Java Fintech</h1>
    <h2 class="text-center mt-4">You can go to register or login</h2>

    <div class="d-flex flex-column gap-2" style="justify-self: center;">
        <button class="btn btn-success"><a href="/login" class="text-black text-decoration-none">Go to login</a></button>
        <button class="btn btn-warning"><a href="/register" class="text-black text-decoration-none">Go to register</a></button>
    </div>
</body>
</html>